beautifulsoup4==4.12.2
bertopic==0.15.0
gensim==4.3.1
matplotlib==3.7.1
nbformat==5.8.0
openai==0.27.8
plotly==5.14.1
safetensors==0.3.3
seaborn==0.12.2
spacy==3.6.0
statsmodels==0.13.5
textstat==0.7.3
wandb==0.15.8