bertopic==0.14.1
gensim==4.3.1
kaleido==0.2.1
matplotlib==3.7.1
missingno==0.5.2
nbformat==5.8.0
openai==0.27.7
plotly==5.14.1
seaborn==0.12.2
statsmodels==0.13.5
textstat==0.7.3
wandb==0.15.3
wordcloud==1.9.1.1
xgboost==1.7.5